/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss ***!
  \*****************************************************************************************************************/
body {
  width: 770px;
  height: 500px;
  margin: auto;
  padding: 0;
  background-color: #efe7e7;
}

.field {
  min-width: 50%;
  background-color: #58ca58;
  margin: 5px;
  position: relative;
}

.text {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.wrapper-for-all {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  padding-bottom: 10%;
  margin-left: 5%;
}

.spiner {
  position: absolute;
  top: 320px;
  left: 400px;
  z-index: 99;
}

.competitor-info {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
}
.competitor-info:last-child {
  margin-bottom: 0;
}

.competitor-info-1 {
  margin-top: 20px;
}

.competitor-info__flag {
  width: 50px;
  height: 30px;
  margin-right: 1em;
}

.competitor-info__flag > p {
  font-size: 12px;
}

.competitor-info__competitor {
  width: 17%;
}

.competitor-info__wrapper {
  display: flex;
  flex-direction: column;
}

.competitor-info__competitor-img {
  width: 100%;
  height: auto;
  transform: scaleX(-1);
}

.imgTransformNone {
  transform: none;
}

.track {
  width: 80%;
  height: 10px;
  background-color: rgb(54, 101, 231);
  margin-left: 70px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.flag img {
  width: 100%;
  height: auto;
  margin: 0;
}

.flag {
  background-size: cover;
}

.wrapperForWinner {
  width: 350px;
  height: auto;
  position: absolute;
  top: 200px;
  left: 200px;
  background-color: #efe7e7;
}

.wrapperForFlags {
  display: flex;
  justify-content: space-around;
}

.winnerFlag {
  width: 120px;
}

.winnerFlag > img {
  width: 100%;
}

.winnerFlag > p {
  text-align: center;
}

.textWinner {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.btn-start {
  position: absolute;
  top: 20px;
  left: 390px;
  width: 100px;
  height: 50px;
}

.btn-start:hover {
  background-color: #a9b1b1;
}

.btn-try-again {
  position: absolute;
  top: 90px;
  left: 390px;
  width: 100px;
  height: 50px;
}

.btn-try-again:hover {
  background-color: #a9b1b1;
}

.bet-window {
  width: 290px;
  height: 140px;
  background-color: #efe7e7;
  position: absolute;
  top: 10px;
  left: 20px;
}

.bet-window__text-wrapper {
  height: 50px;
}
.bet-window__text-wrapper p {
  margin: 0;
  color: red;
}

@keyframes growShrink {
  0% {
    font-size: 1.2em;
  }
  50% {
    font-size: 1.5em;
  }
  100% {
    font-size: 1.2em;
  }
}
.bet-window__wrapper {
  display: flex;
  width: 290px;
  height: 40px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.bet-window__flag {
  width: 60px;
  height: 40px;
  border: none;
  padding: 0;
}

.bet-window__flag > p {
  font-size: 10px;
  margin: 0;
}

.bet-window__flag:hover {
  width: 63px;
}

.bet-window__flag-fixedBet {
  width: 65px;
  border: none;
  padding: 0;
}
.bet-window__flag-fixedBet p {
  font-size: 9px;
  margin: 0;
}
.bet-window__flag-fixedBet img {
  width: 60px;
  height: 40px;
  border: none;
  padding: 0;
}

.bet-window__grayscale {
  filter: grayscale(1);
  border: none;
  padding: 0;
}
.bet-window__grayscale p {
  font-size: 9px;
  margin: 0;
}
.bet-window__grayscale img {
  width: 60px;
  height: 40px;
  border: none;
  padding: 0;
}

.balance-window {
  width: auto;
  height: 100px;
  background-color: #efe7e7;
  position: absolute;
  top: 10px;
  right: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-reset {
  position: absolute;
  top: 120px;
  right: 40px;
}

.btn-reset:hover {
  background-color: #a9b1b1;
}

@keyframes runLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(500px);
  }
}
