@import './variables';

.bet-window {
    width: 290px;
    height: 140px;
    background-color: #efe7e7;
    position: absolute;
    top: 10px;
    left: 10px;
  
}

.bet-window > p {
    margin: 0;
}



.bet-window__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.bet-window__flag {
    width: 60px;
    height: 40px;
    border: none;
    padding: 0;
}

.bet-window__flag > p {
    font-size: 10px;
    margin: 0;
}

.bet-window__flag:hover {
    width: 63px;
}

.bet-window__flag-fixedBet {
    width: 65px;    
    border: none;
    padding: 0;

    p{
        font-size: 9px;
        margin: 0;
    }
}

.bet-window__grayscale {
filter: grayscale(1);
border: none;
padding: 0;

p{
    font-size: 9px;
    margin: 0;
}
}