@import './variables';

body {
    width: 770px;
    height: 500px;
    margin: auto;
    padding: 0;
    background-color: $additional-color;
}

.field {
    min-width: 50%;
    height: 1000px;
    background-color: $primary-color;
    margin: 40px;
    position: relative;   
}

.text {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.wrapper-for-all {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    padding-bottom: 10%;
    margin-left: 5%;   
}

.spiner {
    position: absolute;
    top:50%;
    left:50%;
    z-index: 99;
}

.competitor-info {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.competitor-info__flag {
    width: 50px; 
    height: 30px; 
    margin-right: 1em;
}

.competitor-info__competitor {
    width: 17%;
    
}

.competitor-info__wrapper{
    display: flex;
    flex-direction: column;
}

.competitor-info__competitor-img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.imgTransformNone {
    transform: none;
}

.track {
    width: 80%; 
    height: 10px; 
    background-color: rgb(54, 101, 231);
    margin-left: 70px;
    margin-top: -20px;
    margin-bottom: 20px;
    
}

.flag{
    img {
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.flag {
    background-size: cover;
}

.btn-start {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100px;
    height: 50px;
}

.btn-start:hover{
    background-color: #a9b1b1;
}

