@import './variables';

body {
    min-width: 300px;
    min-height: 300px;
    margin: 0;
    padding: 0;
    background-color: $additional-color;
}

.field {
    min-width: 50%;
    min-height: 500px;
    background-color: $primary-color;
    margin: 40px;
    position: relative;   
}

.text {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    padding-bottom: 10%;
    margin-left: 5%;   
}

.competitor-info {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    justify-content: space-between;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.competitor-info__flag {
    width: 50px; 
    height: 30px; 
    margin-right: 1em;
}

.competitor-info__competitor {
    width: 17%;
    margin-right: 1em;
}

.competitor-info__competitor-img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);

}

.imgTransformNone {
    transform: none;
}

.competitor-info__track {
    width: 80%; 
    height: 10px; 
    background-color: rgb(54, 101, 231);
    margin-top: 40px;
}

.flag{
    img {
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.flag {
    background-size: cover;
}

